.pic-head {
    width: 100%;
    height: 873px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.paralax {
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.vision {
    width: 100%;
    height: 640px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.vision-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.history {
    background-image: linear-gradient(to bottom right, #cc2229, #a60007);
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.unique {
    background-color: white;
    height: 650px;
    position: relative;
}

.unique-container {
    display: flex;
    flex-wrap: wrap;
    height: 550px;
    width: 1100px;
}

.unique-content {
    display: block;
    height: 240px;
    width: 345px;
    margin: 10px 10px 10px 10px;
}