
.slide {
    width: 100%;
    height: 445px;
    background: linear-gradient(180deg, #851818 0%, #b50102 48%, #871818);
    display: flex;
    justify-content: center;
}

.slide-container {
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.img-container {
    width: 1100px;

}

.carousel-indicators {
    /* top: -1px;
    left: -700px; */
}

.fivestar-content {
    background-color: #cc2229;
    width: 100%;
    height: 608px;
    overflow: hidden;
}

.duck-content {
    background-color:#ffd400;
    width: 100%;
    height: 608px;
    overflow: hidden;
}

.left-content {
    float: left;
    width: 50%;
    overflow: hidden;
}

.topic {
    position: absolute;
    transform: rotate(-90deg);
    transform-origin: 50px bottom;
    bottom: -16.2%;
    overflow: hidden;
}

.topic-text {
    font-family: 'Chonburi', cursive;
    float: left;
}

.topic-line {
    height: 1px;
    width: 442px;
    float: left;
    margin-top: 12px;
    margin-left: 10px;
}

.right-content {
    float: right;
    width: 50%;
    right: 0;
    overflow: hidden;
}

.franchise {
    width: 100%;
    height: 515px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.franchise-form {
    width: 730px;
    height: 320px;
    background-color: white;
    position: absolute;
    box-shadow: 0px 0px 25px rgb(49, 49, 49);
}

.franchise-form-container {
    padding: 51px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

select { 
    text-align-last:center;
}

.form-select {
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 2px solid rgb(83, 83, 83);
    font-family: 'Prompt', sans-serif;
    color: #aaa;
}

button {
    font-family: 'Prompt', sans-serif;
    width: 65px;
    background-color: transparent;
    border: none;
    text-decoration: underline;
    text-underline-position: under;
}

.history {
    background-image: linear-gradient(to bottom right, #cc2229, #a60007);
    height: 600px;
}

.unique {
    background-color: white;
    height: 650px;
}

.unique-container {
    display: flex;
    flex-wrap: wrap;
    height: 550px;
    width: 1100px;
}

.unique-content {
    display: block;
    height: 240px;
    width: 345px;
    margin: 10px 10px 10px 10px;
}

.article {
    background-image: linear-gradient(to bottom right, #cc2229, #a60007);
    height: 460px;
}

.article-container {
    height: 330px;
    width: 1200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.article-content {
    display: block;
    width: 240px;
    height: 255px;
    margin: 16px;
    transition-duration: 0.2s;
}

.article-content:hover {
    transform: scale(1.2);
    box-shadow: 0px 0px 10px rgb(26, 26, 26);
    background-color:#ffd400;
    text-decoration: transparent;
}

.article-cat {
    background-color: white;
    font-family: 'Prompt', sans-serif;
    position: absolute;
    margin-top: 20px;
    padding: 5px 10px;
    color: #cc2229;
    font-size: 13;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article-head {
    font-size: 16;
    padding-top: 10px;
    height: 70px;
    font-family: 'Chonburi', cursive;
    color: white;
}

.article-content:hover .article-head{
    font-size: 14;
    color: black;
    padding-left: 12px;
}

.readmore {
    font-family: 'Prompt', sans-serif;
    color: white;
    font-size: 12;
    text-decoration: underline;
}

.article-content:hover .readmore{
    font-size: 10;
    color: black;
    padding-left: 12px;
}

.video-icon {
    position: absolute;
    width: 240px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.readall {
    font-family: 'Prompt', sans-serif;
    color: white;
    text-decoration: underline;
    text-underline-position: under;
}

.readall:hover {
    color: #ffd400;
}