.pic-head {
    width: 100%;
    height: 873px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.concept {
    width: 100%;
    height: 532px;
    background-color: white;
    padding-top: 15px;
}

.concept-head {
    font-size: 34px;
    font-family: 'Chonburi', cursive;
    color: #cc2229;
}

.concept-info {
    font-size: 16px;
    font-family: 'Prompt', sans-serif;
    padding-top: 20px;
}

.concept-data {
    font-size: 16px;
    font-family: 'Chonburi', cursive;
    padding-top: 20px;
}

ul {
    list-style-image: url('../img/franchise/con-line.png');
}

.format {
    width: 100%;
    height: 608px;
    background-color: #ffd400;
    overflow: hidden;
    display: flex;
    position: relative;
}

.select-format {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 33px;
}

.select-bt {
    border-radius: 7px;
    border: none;
    padding: 15px 10px;
    margin-bottom: 10px;
    box-shadow: inset 0 0 12px 0px #4c4848;
    color: #cc2229;
    font-family: 'Chonburi', cursive;
    display: flex;
    width: 255px;
    margin: 15px;
}

.select-bt-active {
    background: linear-gradient(115deg, #cc2229 0%, #a60007 100%);
    border-radius: 7px;
    border: none;
    padding: 15px 10px;
    margin-bottom: 10px;
    box-shadow: inset 0 0 12px 0px #4c4848;
    color: white;
    font-family: 'Chonburi', cursive;
    display: flex;
    width: 255px;
    margin: 15px;
}

.formPic {
    width: 45px;
}

.topic {
    position: absolute;
    transform: rotate(-90deg);
    transform-origin: 50px bottom;
    bottom: -16.2%;
    overflow: hidden;
}

.topic-text {
    font-family: 'Chonburi', cursive;
    float: left;
}

.topic-line {
    height: 1px;
    width: 442px;
    float: left;
    margin-top: 12px;
    margin-left: 10px;
}

.left-content {
    float: left;
    width: 50%;
    overflow: hidden;
}

.right-content {
    float: right;
    width: 50%;
    right: 0;
    overflow: hidden;
}

.offer {
    background-color: white;
    height: 670px;
    position: relative;
    overflow: hidden;
}

.offer-container {
    display: flex;
    flex-wrap: wrap;
    height: 550px;
    width: 1100px;
}

.offer-content {
    display: block;
    height: 240px;
    width: 255px;
    margin: 10px 10px 10px 10px;
}

.slide {
    width: 100%;
    height: 330px;
}

.property {
    width: 100%;
    height: 517px;
}

.register {
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.register-container {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    position: absolute;
}

.register-space {
    width: 1140px;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: #ffd400 1px solid;
    border-top: none;
}

.register-content {
    width: 360px;
    height: 38px;
    border: none;
    border-bottom: 1px solid white;
    font-family: 'Prompt', sans-serif;
    color: white;
    background-color: transparent;
    text-align-last:center;
    margin: 2px;
}

option {
    color: #aaa;
}

.regis {
    font-family: 'Prompt', sans-serif;
    width: 100px;
    background-color: transparent;
    border: none;
    text-decoration: underline;
    text-underline-position: under;
    color: white;
}